<div>
	<form (ngSubmit)="onSubmit($event)" #addRecipeForm="ngForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input required type="text" class="form-control" id="name" name="name" [(ngModel)]="newRecipeAdd.name">
		</div>
		<div class="form-group">
			<label for="amount_price">Description</label>
			<textarea required type="text" class="form-control" id="amount_price" name="amount_price" [(ngModel)]="newRecipeAdd.description"></textarea>
		</div>
		<div class="form-group">
			<label for="imgPath">Image</label>
			<input required type="text" class="form-control" id="imgPath" name="imgPath" [(ngModel)]="newRecipeAdd.imgPath" #inputRef>
		</div>
		<div class="form-group">
			<label for="imgPath">Ingredients</label>
			
			<div class="listOfRecipeIngredients">
				<div class="ingredientOfRecipeItem" *ngFor="let el of ingredientsOnRecipe">
					<span class="infoIngredient"> {{el.ingredient.name}} ::: </span>
					<div>
						Amount
						<input type="number" step="any" #ingredientAmount [value]="el.amount" (change)="el.amount = ingredientAmount.value"> {{el.ingredient.amount_price}}
					</div>
					<span (click)="removeIngredients(el.ingredient.id)" class="buttonCancel"><i class="glyphicon glyphicon-remove"></i></span>
				</div>
			</div>

			<br>
			<p>Search already registered ingredients</p>
			<search-box></search-box>
			<ingredients-list (selectingIngredient)="passingSelection($event)"></ingredients-list>
		</div>
	<button type="submit" class="btn btn-success" [disabled]="!addRecipeForm.form.valid  || ingredientsOnRecipe.length <= 0">Submit</button>
	<a *ngIf="!toAdd" class="btn btn-danger" [routerLink]="['/recipes', newRecipeAdd.id]">Cancel</a>
	</form>
</div>
